body{
    font-family: Open Sans;
    margin: 0px;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
}

/** unit: 2vw / 10min **/
section.container{
    margin-bottom: 10px;
    height: calc(2vw * 81);
}

.day {
    position: absolute;
    margin: 10px 0;
}
.day0 { left: 5vw;}
.day1 { left: calc(18vw + 2px);}
.day2 { left: calc(31vw + 4px);}
.day3 { left: calc(44vw + 6px);}
.day4 { left: calc(57vw + 8px);}
.day5 { left: calc(70vw + 10px);}
.day6 { left: calc(83vw + 12px);}

/*
.picked {
    position: absolute;
    top: 0;
    left: 0;
    width: 13vw;
    height: 12vw;
    background: #c0c0c0;
}
*/
.picked {
    position:fixed;
    top: 18px;
    width: 13vw;
    height: 8em;
    background: #e0e0e0;
    z-index: 999;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}
.day0 .picked { left: 5vw;}
.day1 .picked { left: calc(18vw + 2px);}
.day2 .picked { left: calc(31vw + 4px);}
.day3 .picked { left: calc(44vw + 6px);}
.day4 .picked { left: calc(57vw + 8px);}
.day5 .picked { left: calc(70vw + 10px);}
.day6 .picked { left: calc(83vw + 12px);}

.picked .course:first-child  { top: 0; }
.picked .course:nth-child(2) { top: 2em; }

.title{
    position: absolute;
    top: 8em;
    left: 0;
    width: 13vw;
    height: 1em;
    text-align: center;
}

.timeline{
    position: absolute;
    width: 13vw;
    height: 4px;
    background: black;
}
.timeline-noon{ top: calc(2vw * 21 - 2px); }
.timeline-night{ top: calc(2vw * 57 - 2px); }


.courses { 
    position: absolute;
    top: 9.5em;
    background:#f8f8f8;
    border: 1px solid lightgray;
    width: calc(13vw);
    height: calc(2vw * 81);
}

.course {
    color: #202020;
    position: absolute;
    left: 0vw;
    /*top: calc(2vw * 6);*/
    width: calc(13vw - 2px);
    /*height: 12vw;*/
    text-align: center;
    font-size: small;
    padding: 6px 2px 2px 20%;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

.course1 { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%, 20% 20%, 0% 20%); }
.course2 { clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%, 20% 45%, 0% 45%, 0% 25%, 20% 25%); }
.course3 { clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%, 20% 70%, 0% 70%, 0% 50%, 20% 50%); }
.course4 { clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%, 20% 95%, 0% 95%, 0% 75%, 20% 75%); }

.course-sn{
    position: absolute;
    font-weight: bold;
    left: 4px;
}
.course-sn1{ top: 0; }
.course-sn2{ top: 25%; }
.course-sn3{ top: 50%; }
.course-sn4{ top: 75%; }

.course-strength1 { background: #cd2d21; }
.course-strength2 { background: #C93756; }
.course-strength3 { background: #DB5A6B; }
.course-strength4 { background: #F47983; }
.course-strength5 { background: #F08F90; }

.course-swim1{ background: #009dc4; }
.course-swim2{ background: #009dc4; }
.course-swim3{ background: #009dc4; }
.course-swim4{ background: #009dc4; }

.course-yoga1{ background: #7BC4C4}
.course-yoga2{ background: #98DDDF}
.course-yoga3{ background: #53B0AE}
.course-yoga4{ background: #00A1B4}
.course-yoga5{ background: #097988}

.course-aerobic{ background: lightgreen; }
.course-aerobic1{ background: #26A65B; }
.course-aerobic2{ background: #26C281; }
.course-aerobic3{ background: #049372; }
.course-aerobic4{ background: #006442; }

.course-spinning1{ background: #facd56; }
.course-spinning2{ background: #fa990e; }
.course-spinning3{ background: #e06c23; }
.course-spinning4{ background: goldenrod; }

.course-dance1{ background: #B8A1CF;}
.course-dance2{ background: #e6cfe6;}
.course-dance3{ background: #B8A1CF;}
.course-dance4{ background: #e6cfe6;}

.course-name {
    font-weight: bold;
}

button.pick{
    margin-top: 4px;
    width: 2em;
    background: transparent;
}
button.pick:hover {
    background: whitesmoke;
}
